<!DOCTYPE html>
<html>
  <head>
    <title>Trailgram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <%= javascript_pack_tag 'index' %>
  </head>
  <script type="text/babel" src="./lander.js"></script>
  <body>
    <%= yield %>
  </body>
</html>
